{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <form method="post">
        <div>
            <label>name</label>
            <input type="text" name="name" value="{{ book.name }}" >
        </div>
        <div>
            <label>description</label>
            <input type="text" name="description" value="{{ book.description }}">
        </div>

        <input type="submit" value="Submit">
    </form>

{% endblock %}

